<!-- <?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <system.webServer>
  <defaultDocument enabled="false"></defaultDocument>
  <rewrite>
  <rules configSource="redirectionRules.config" /> 
      <outboundRules>
        <rule name="RewriteCacheControlForHTMLFiles" preCondition="FileEndsWithJS">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=86400" />
        </rule>
        <preConditions>
          <preCondition name="FileEndsWithJS">
            <add input="{REQUEST_FILENAME}" pattern="\.js$" />
          </preCondition>
          <preCondition name="FileEndsWithHtml">
            <add input="{REQUEST_FILENAME}" pattern="\.html$" />
          </preCondition>
          <preCondition name="FileEndsWithTTF">
            <add input="{REQUEST_FILENAME}" pattern="\.ttf$" />
          </preCondition>
          <preCondition name="FileEndsWithWoff">
            <add input="{REQUEST_FILENAME}" pattern="\.woff$" />
          </preCondition>
          <preCondition name="FileEndsWithSvg">
            <add input="{REQUEST_FILENAME}" pattern="\.svg$" />
          </preCondition>
          <preCondition name="FileEndsWithEot">
            <add input="{REQUEST_FILENAME}" pattern="\.eot$" />
          </preCondition>
          <preCondition name="FileEndsWithMAP">
            <add input="{REQUEST_FILENAME}" pattern="\.map$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>  
    <security>
        <requestFiltering removeServerHeader ="true" />        
    </security>
    <httpRedirect configSource="httpRedirects.config" /> 
    <httpProtocol>
        <customHeaders>
          <remove name="Strict-Transport-Security"/> 
          <remove name="X-Content-Type-Options"/>
          <remove name="X-Frame-Options"/>
          <remove name="X-XSS-Protection"/>
          <remove name="Cache-Control"/> 
          <remove name="Pragma"/> 
          <remove name="Content-Security-Policy"/> 
          <remove name="X-Powered-By"/>
          <add name="Strict-Transport-Security" value="max-age=8995000; includeSubdomains"/>   
          <add name="X-Content-Type-Options" value="nosniff"/>
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-XSS-Protection" value="1;mode=block" />
          <add name="Cache-Control" value="max-age=0, no-cache, no-store" />
          <add name="Pragma" value="no-cache" />
        </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
        <add name="DenyOTH" verb="OPTIONS,TRACE,HEAD, POST" path="*" type="System.Web.HttpMethodNotAllowedHandler" />
    </handlers>
  </system.webServer>
  <location path="favicon.ico">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="images">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="static">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="fonts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <mimeMap fileExtension=".html" mimeType="text/html"/>
      <mimeMap fileExtension=".ttf" mimeType="font/ttf"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".svg" mimeType="font/svg"/>
      <mimeMap fileExtension=".eot" mimeType="font/eot"/>
      <mimeMap fileExtension=".map" mimeType="application/json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
  <!-- <location path="en-us"> -->
    <system.webServer>
      <httpErrors errorMode="Custom">
          <remove statusCode="404" subStatusCode="-1"/>
          <error statusCode="404" path="/404.html" responseMode="ExecuteURL"/>
          <remove statusCode="401" subStatusCode="-1"/>
          <error statusCode="401" path="/404.html" responseMode="ExecuteURL"/>
          <remove statusCode="501" subStatusCode="-1"/>
          <error statusCode="501" path="/500.html" responseMode="ExecuteURL"/>
          <remove statusCode="411" subStatusCode="-1"/>
          <error statusCode="411" path="/404.html" responseMode="ExecuteURL"/>
          <remove statusCode="403" subStatusCode="-1"/>
          <error statusCode="403" path="/404.html" responseMode="ExecuteURL"/>
          <remove statusCode="500" subStatusCode="-1"/>
          <error statusCode="500" path="/404.html" responseMode="ExecuteURL"/>
      </httpErrors>
    </system.webServer>
  <!-- </location> -->
</configuration> -->